server:
  port: 8080

spring:
  # MySQL
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/smart-agriculture?useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: root
    druid:
      initial-size: 5
      min-idle: 5
      max-active: 20
      max-wait: 60000

  # Redis
  data:
    redis:
      host: localhost
      port: 6379
      database: 0

# MyBatis-Plus
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.nologging.NoLoggingImpl
    map-underscore-to-camel-case: true

# Knife4j
springdoc:
  swagger-ui:
    path: /swagger-ui.html
knife4j:
  enable: true
  setting:
    language: zh_cn

# MQTT
mqtt:
  broker-url: tcp://localhost:1883
  client-id: smart-agriculture-backend
  username:
  password:
  pub-topic: smart-agriculture/pub
  sub-topic: smart-agriculture/sub
